<template>
  <a class="list-group-item " :class="[ itemElems.length>0 ? list_header: 'child', paddingN]">
    <span @click="click_box($event.target)" class="disable-select">{{ itemCategory }}</span>
    <input
      class="form-check-input"
      style="float:right;"
      @click="boxClick($event.target)"
      :id="itemCategory"
      type="checkbox"
      value="0"
    />
  </a>
  <template v-if="IsArray(itemElems)">
    <div class="list-group">
      <SelectorSublist
        v-for="item in itemElems"
        :key="item.category"
        :itemCategory="item.category"
        :itemElems="item.elems"
        :layer="layer_to_transmit"
        @send_checkbox_id="CheckEmit"
      >
      </SelectorSublist>
    </div>
  </template>
</template>

<script lang="ts">
import { defineComponent, VueElement } from "vue";
import { Vue } from "vue-class-component";

export default defineComponent({
  name: "SelectorSublist",
  components: {
  },
  props: {
    itemCategory: String,
    itemElems: Array,
    layer:Number,
    bus: Object,
  },
  methods: {
    CheckEmit:function(elem :string){
      this.$emit('send_checkbox_id', elem);
    },
    boxClick: function (el: any) {
      var x = el.parentNode.parentNode; // parinte
      x = x.id == "1st_ul" ? x : x.previousSibling;
      if (!(el.parentNode.nextElementSibling && el.parentNode.nextElementSibling.nodeName == "DIV"))
        this.$emit('send_checkbox_id', el.id);//adaug in lista doar subelementele, fara capetele de lista
      do {
        if (
          el.parentNode.nextElementSibling &&
          el.parentNode.nextElementSibling.nodeName == "DIV"
        ) {
          // adica e header pentru o sublista
          var el_checked = el.checked;
          Array.from(el.parentNode.nextSibling.children).forEach((li: any) => {
            if (el_checked != li.children[1].checked) {
              li.children[1].click(); // check/uncheck child checkboxes
              //console.log(el.checked+" "+li.children[1].checked);
            }
          });
        } else {
          //console.log(el);
            var y = x.children[1]; // inputul de count
            var val = Number(el.value);
            if (el.checked){
              y.value = val == 0 ? Number(y.value) + 1 : Number(y.value) + val;

            }else{ 
              y.value = val == 0 ? Number(y.value) - 1 : Number(y.value) - val;
            }
            //console.log(y);
            var total_childs = x.nextElementSibling.querySelectorAll(".child").length;
            //console.log(total_childs+" "+y.value);
            y.checked = total_childs == y.value; //check parent if all selected
        }
        x = x.parentNode.previousElementSibling;

        if (x == null) break;
      } while (x.children[1].nodeName == "INPUT");
    },
    click_box: function (target : any){ target.nextSibling.click();} ,
    IsArray: function (el: any) {
      if (Array.isArray(el)) this.count = el.length;
      return Array.isArray(el) && el.length > 0;
    },
  },
  emits:
    ['send_checkbox_id'],
  data() {
    return {
      count: 0,
      layer_to_transmit:Number(this.layer)+1,
      paddingN:"padding"+Number(this.layer),
      list_header:"list_header",
    };
  },
});
</script>
