<template>
  <div style="width: 350px; max-width: 350px;margin-left:30px;margin-top:30px;">
    <div class="just-padding">
        <li class='list-group-item' style="background-color:#0d6efd;cursor:pointer;" @click="ToogleList">
          <div  style="color:white;">Property Selector</div>
          <small  style="color:lightgray;">Monopoly Inc. {{checkedItems.length==0?"":checkedItems.length==1?" | "+checkedItems[0]:" | Mupltiple items selected"}}</small>
          <svg id="arrow_icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-chevron-up rotate_out" viewBox="0 0 16 16" style="float:right;">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
          </svg>
        </li>
      <div id="1st_ul" class="list-group well list-group-root">

        <SelectorSublist
          v-for="item in items"
          :key="item.category"
          :itemCategory="item.category"
          :itemElems="item.elems"
          :layer=1
          @send_checkbox_id="AddToCheckedItems"
        ></SelectorSublist>
        <div type="submit" class='submit' @click="submitElems">Apply</div>
      </div>
    </div>
  </div>



</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Vue } from "vue-class-component";
import SelectorSublist from "./selectorSublist.vue";
import $ from 'jquery';

export default defineComponent({
  name: "Selector",
  props: {
    items: Object,
  },
  components: {
    SelectorSublist,
  },
  methods: {
    AddToCheckedItems:function(el:any){
            if(this.checkedItems.includes(el))
          this.checkedItems.splice(this.checkedItems.indexOf(el),1);
      else
      this.checkedItems.push(el);
    },
    submitElems:function(){
      if(this.checkedItems.length>0){
        console.log(this.checkedItems.toString().split(','))
      }
    },
    ToogleList:function(){
      $('#1st_ul').slideToggle("slow");
      $("#arrow_icon").toggleClass('rotate_in rotate_out');
    }
  },
  data() {
    return {
      checkedItems:[] as Array<string>,
    };
  },
});
</script>
