  $lightgray: rgba(179, 178, 178, 0.1);
  $verylightgray: rgba(0, 0, 0, 0.125);
  $lightblue:#0d6efd;
  $max_list_layers:10;
  @mixin no_text_select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
  .submit{
    @include no_text_select;
    color: $lightblue;
    text-align:center;
    border:2px solid $verylightgray;
    &:hover{
      color: #428eff;
      border:2px solid #428eff;
    }
  }
  .disable-select {
    @include no_text_select;
    cursor:pointer;
    position:absolute;
    width:90%;
    &:hover{
      color:black;
    }
  }
  .rotate_in{
    transform:  rotate(-180deg);
    transition: all 1s;
  }
  .rotate_out{
    transition: all 1s;
  }
  .list_header{
    font-weight: bold;
    background-color: $lightgray !important;
  }
  .inline{
      display: inline;
  }
  .just-padding {
    padding: 15px;
  }

  @for $i from 1 through $max_list_layers {
    .padding#{$i} {
      padding-left: $i*15px !important;
      &:hover{
        color:black;
      }
    }
  }
  
  // .list-group.list-group-root {
  //   padding: 0;
  //   overflow: hidden;
  //   .list-group{
  //     margin-bottom: 0;
  //   }
  // }
  /* .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  } */