<template>
  <!-- <Selector :items="items" /> -->
  <Selector :items="items" />
</template>

<style lang="scss">
@import "./assets/style.scss";
</style>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Selector from "./components/Selector.vue";

@Options({
  name: "App",
  components: {
    Selector,
  },
  data() {
    return {
      counter_display: 0,
      items: [
        {
          category: "Blue Properties",
          elems: [
            { category: "Park Place", elems: [] },
            { category: "BroadWalk", elems: [] },
          ],
        },
        {
          category: "Brown Properties",
          elems: [
            { category: "Mediterranean Avenue", elems: [] },
            {
              category: "Baltic Avenue",
              elems: [
                { category: "Baltic1", elems: [] },
                { category: "Baltic2", elems: [
                  { category: "Baltic2.1", elems: [] },
                  { category: "Baltic2.2", elems: [
                    { category: "Baltic2.2.1", elems: [] },
                    { category: "Baltic2.2.2", elems: [] },
                  ] },
                  { category: "Baltic2.3", elems: [] },
                  ] 
                },
              ],
            },
            { category: "Met2 Avenue", elems: [] },
          ],
        },
        { category: "Not exactly Baltic", elems: [{ category: "Not exactly Baltic1", elems: [] }] },
      ],
      items1:[
        {
          category: "Blue Properties",
          elems: [
            { category: "Park Place", elems: [] },
            { category: "BroadWalk", elems: [] },
          ],
        },
        {
          category: "Brown Properties",
          elems: [
            { category: "Mediterranean Avenue", elems: [] },
            {
              category: "Baltic Avenue",
              elems: [],
            },
          ],
        },
      ]
    };
  },
})
export default class App extends Vue {}
</script>
